<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin</title>
	<link href="/assets/css/ex.css" media="all" rel="stylesheet" type="text/css" />
	<script type="text/javascript" href="/assets/js/ex.js"></script>
	<!-- img alt="Rails" src="/assets/rails.png" /> -->
      <%= csrf_meta_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
